# Prerequisites
*.d
*.vscode
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
analysis/cec_python_library/all_paths.csv
analysis/cec_python_library/fun_10_bounds.csv
analysis/cec_python_library/fun_11_bounds.csv
analysis/cec_python_library/fun_12_bounds.csv
analysis/cec_python_library/fun_13_bounds.csv
analysis/cec_python_library/fun_4_bounds.csv
analysis/cec_python_library/fun_5_bounds.csv
analysis/cec_python_library/fun_6_bounds.csv
analysis/cec_python_library/fun_7_bounds.csv
analysis/cec_python_library/lineage_history_5000854_5.csv
analysis/cec_python_library/lineage_history_5.csv
analysis/cec_python_library/lineage_short.csv
analysis/cec_python_library/P0_S0.csv
analysis/cec_python_library/P0_S0_data.csv
analysis/cec_python_library/P0_S2_data.csv
analysis/cec_python_library/P0_S4_data.csv
analysis/cec_python_library/P1_S0_data.csv
analysis/cec_python_library/P1_S2_data.csv
analysis/cec_python_library/P1_S4_data.csv
analysis/cec_python_library/P2_S0_data.csv
analysis/cec_python_library/P2_S2_data.csv
analysis/cec_python_library/P2_S4_data.csv
analysis/cec_python_library/P6_S0_data.csv
analysis/cec_python_library/P6_S2_data.csv
analysis/cec_python_library/P6_S4_data.csv
analysis/cec_python_library/test.csv
analysis/cec_python_library/fun_10.jpg
analysis/cec_python_library/fun_11.jpg
analysis/cec_python_library/fun_12.jpg
analysis/cec_python_library/fun_13.jpg
analysis/cec_python_library/fun_4.jpg
analysis/cec_python_library/fun_5.jpg
analysis/cec_python_library/fun_6.jpg
analysis/cec_python_library/fun_7.jpg
analysis/cec_python_library/test.jpg
.Rproj.user/
analysis/cec_python_library/toy__data/
analysis/all_data_agp.csv
analysis/all_data.csv
analysis/dominant.csv
analysis/eco_ea_sweep.csv
analysis/elite_data.csv
analysis/fitness.csv
analysis/lineage_et_data.csv
analysis/lineage_mutations.csv
analysis/non_elite_data.csv
analysis/phylodiversity.csv
analysis/phylogeny_5000.csv
analysis/real_value_data.csv
analysis/sgp_fixed_vs_variable.csv
analysis/systematics.csv
analysis/testcases.csv
dominant.csv
fitness.csv
lineage_mutations.csv
phylodiversity.csv
systematics.csv
testcases.csv
output
.RData
.Rhistory
pop_0/
.Rproj.user
